
body{
  margin: 0;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:  seashell ;
  
}
header{
    width: 100%;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    z-index: 1;
}
header img{
    height: 32px;
    width: 72px;
    border: 1px solid white;
    border-radius: 2px;
    margin-left: 30px;
}
nav ul li{
    display: inline-flex;
    padding: 5px;
    margin-right: 30px;
}
li, a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: seashell ;
}
li, a:hover{
   color: #c2337b ;
}

.home{
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/header-background.jpg);
    width: 100%;
    height: 1010px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;

}
.home-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    margin-top: 22%;

}
.home-container img{
    height: auto;
    width:45% ;
    margin:0 40px;
}
.home-right{
    width: 45%;
    margin: 0 40px;
}
button{
    color: seashell;
    padding: 15px 25px;
    background-color:#c2337b ;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
}
button:hover{
    background: none;
    border: 1px solid seashell;
}
.home-right {
    height: auto;
}

.second-box{
    display: flex;
    background: black;
    width: 80%;
    margin: -240px auto 0 auto;
    background: linear-gradient(to bottom right, #4b00d7, #fa4c50);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second-box-container{
    display: block;
    text-align: center;
    padding: 5%;
    
}

.details-box{
    display: flex;
    margin: 10% auto 0 auto;
    color: black;
    width: 85%;

}
.details-box h2{
    font-weight: bold;
    border-bottom: 2px solid #c2337b;
}

.details-box img{
    width: 50%;
}
.details-text{
    line-height: 2.5;
}
 .details-text ul li{
     color: black;
 }